* {
    margin: 0px;
    padding: 0px;
}

body {
   background: #1d1c24;
background: linear-gradient(90deg, rgb(6, 0, 46) 0%, rgb(0, 0, 1) 35%, rgb(7, 39, 45) 100%);
}

.nav {
    background-color: rgb(255, 246, 246);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.right a {
    margin: 0px 20px;
    text-decoration: none;
    font-weight: bold;
    
}

.right a:hover{
    color: orange;
}

#btn {
    border-radius: 50px;
    padding: 10px 5px;
    margin-right: 20px;
    text-decoration: none;

}

#btn:hover{
    color: orange;
}

.div1-title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 31, 31);
    text-align: center;
    margin-bottom: 40px;
}

.div1-title {
    margin-top: 100px;
}


.div2-info {
    border: 2px solid red;
    background-color: black;
    height: 250px;
  
    border-radius: 40px;


    
}

.div2-info p {
    color: black;
    width: 70%;
    font-weight: bold;
    background-color: papayawhip;
    margin: 20px 180px;
    padding: 20px;

}

img {
    height: 50px;
    margin-left: 30px;
}

.imgg {
    margin: 50px 0px;
    z-index: 99;
    height: 200px;
    width: 300px;


}

.div2-info h3 {
    text-align: center;
    margin-top: 10px;
    color: yellowgreen;
   
}

.img1 h1 {
    margin-top: 33px;
}

.img-p{
    display: flex;
    justify-content: space-evenly;
}
.imgg{
    width: 200px;
}

.imgdesign{ 
    height: 200px;
    width: 200px;
    border: 2px solid black;
     margin: 10px 0px;
 } 

.external_div{

    border: 2px solid red;
    width: 200px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 20px 20px;
    display: flex;
    column-gap: 30px;
    
}
.h1_event{
    
    margin: 15px 0px;
    color: #ff0000;
    background-color: white;
    border: #ff0000;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    
}

.register_FF{
    border-radius: 5px;
    background-color: rgba(54, 115, 255, 0.737);
    height: 30px;
    width: 200px;
    margin: 10px 0px;

}

.maincard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.internal_div h3{
    text-align: center;
}


/* footer */
.foot{
    background-color: #5a4f109b;
    height: 100px;
    text-align: center;
    color: bisque;
    position: sticky;

    
    
}

.foot h3{
    margin-top: 10px;
    padding: 10px;
}

.foot .design{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 20px;
    text-decoration: underline;

}

.socialimage img{
    height: 15px;
    width: 20px;
    
    margin: 0px 10px;
    
    
}


/* Table */
table{
    margin: 100px auto;
    color: white;
    line-height: 10px;
    column-width: 5px;
    align-items: center;
    border-collapse: separate;
    width: 80%;
    height: 50%;
    

}

table th{
    color: yellow;
    line-height: 2;
    
}

td{
    line-height: 2;
    text-align: center;
}



